@charset "UTF-8";

#skip {width:100%;z-index:2;position:absolute;top:0;left:0;}
#skip > li {width:100%}
#skip > li > a {display:block;line-height:0;font-size:0;text-align:center;background:#000;color:#fff;}
#skip > li > a:focus{line-height:50px;font-size:20px;}

#wrap {width:100%;z-index:1;position:relative;}