@charset "UTF-8";  /* skip-wrap 서로 형제니까 제일 먼저설정 */

/* 스킵메뉴 */
#skip {z-index:2;/*skip, wrap 두 형제 중에 제일 위에 보여야되니까 2번*/position:absolute;top:0;left:0;width:100%;font-size:0;} /*지금 헤더가 fixed라, 벽돌처럼쌓아지는 relative가되면 안되고, 앞/뒤가 설정되는 absolute로 해서 겹치게해야됨*/
#skip > li {width:100%;}
#skip > li > a {display:block;line-height:0;font-size:0;background:#000;color:#fff;text-align:center;}
#skip > li > a:focus {line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;/*block의 의미*/} /* 포지션 앱솔루트 relative는 꼭 top, left값 들어가야됨 */
/* 헤더영역 */
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:120px;border-top:2px solid #000;border-bottom:1px solid #e5e5e5;background:#f6f5ef;}
/* position중에 relative absolute는 scroll기능, fixed만 고정기능 */


/*메인영역*/
#wrap #main {z-index:2;position:relative;}
/* 섹션1영역 */
#wrap #main #section1 {width:100%;height:646px;background:url(../img/section1.jpg) no-repeat 50% 0;background-size:100% 100%;} 
/* background:url(이미지 url 넣기);no-repeat:반복하지않겠다;50%(position:center라는 뜻);0(position:top이라는 뜻);background-size:100% 100%(width:100%면 아무리 줄였다늘렸다해도 화면에 꽉참 height) */

/* 섹션2영역 */
#wrap #main #section2 {}

/* 섹션3영역 */
#wrap #main #section3 {}

/* 섹션4영역 */
#wrap #main #section4 {}

/* 섹션5영역 */
#wrap #main #section5 {}

/* 섹션6영역 */
#wrap #main #section6 {}

/* 섹션7영역 */
#wrap #main #section7 {}

/* 섹션8영역 */
#wrap #main #section8 {}

/* 섹션9영역 */
#wrap #main #section9 {}



/* 푸터영역 */
#wrap #footer {z-index:1;position:relative;width:100%;height:678px;padding:32px 0 35px 0;background:#2c2a29;}